* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    text-decoration: none;
    color: green;

}

body {
    display: flex;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 6vw;
}

form {
    display: flex;
    gap: 5vw;
}

button {
    margin-top: 3%;
    margin-left: 5%;
    width: 200px;
    height: 40px;
    background-color: #596D48;
    color: white;
    border-radius: 10px;
    border: none;
}

p {
    margin-left: 5%;
}

button:hover {
    background-color: lightgreen;
}


input:inValid {
    border-color: #E5E7EB;
}

input:valid {
    border-color: green;
}



.image {
    background-image: url("images/leaves.jpg");
    margin: 0;
    height: 100vh;
    width: 50%;
    background-size: cover;

}

.banner {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 70%;
    position: relative;
    top: 25vh;

}

.banner h1 {
    font-size: 4vw;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.right-box {
    background-color: #F2F3F5;
}

.top-side {
    width: 80%;
    font-size: .6rem;
    margin: 12% 10% 5% 5%;
    display: flex;
    flex-direction: column;
}

.form {
    margin-left: 5%;
}

.form h1 {
    font-size: 1.5rem;
    padding-top: 1%;
}

.form-background {
    background-color: white;
    height: 270px;
    box-shadow: 10px 3px 3px gray;
    padding-bottom: 3%;
    position: relative;

}


.left-side div {
    display: flex;
    flex-direction: column;
    margin-bottom: 4vh;

}

.left-side div input {
    width: 25vw;
    height: 3vh;

}

.right-side div {
    display: flex;
    flex-direction: column;
    margin-bottom: 4vh;

}

.right-side div input {
    width: 25vw;
    height: 3vh;
}
